/* THIS CODE WAS BASED ON THE WORK OF TEAM WILDFIRE AND THE CODE INSIDE UNDERTALEWILDFIRE.COM */

body {
    background-color: black;
}

@font-face {
    font-family: main-font;
    src: url(undertalefonts/8bitOperatorPlus-Regular.woff) format("opentype");
}

@font-face {
    font-family: bold-font;
    src: url(undertalefonts/8bitOperatorPlus-Bold.woff) format("opentype");
}

header ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #191919;
    margin-top: 0px;
    padding: 10px 4px;
}

header ul li {
    padding: 10px;
}

header ul li a {
    color: #ffffff;
    padding: 5px 20px;
    text-decoration: none;
    font-size: 1.3em;
    font-family: bold-font;
}

article {
    margin: auto;
    padding-left: 16px;
    padding-right: 16px;
    max-width: 568px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1, h2, h3 {
    font-family: bold-font;
    text-align: center;
    margin: auto;
}

h1, h2 {
    color: yellow;
}

h1 {
    font-size: 2em;
}

h3 {
    color: whitesmoke;
}

p {
    color: whitesmoke;
    font-family: main-font;
    margin: auto;
}

strong {
    color: #684f93;
    font-family: bold-font;
}

a:link {
    color: whitesmoke;
    text-decoration: none;
}

a:hover {
   color: yellow; 
   text-decoration: none;
}

footer {
    margin: auto;
    text-align: center;
}

@media only screen and (max-width: 800px) {
    p {
        width: 65%;
    }
}

@media only screen and (max-width: 600px) {
    p {
        width: 90%;
    }
}