body {
    background-image: url(../images/indigocity.png);
    background-repeat: repeat-x;
    background-position-y: center;
    background-attachment: fixed
}

main {
    max-width: 1400px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    min-height: 85vh;
    background-color: rgba(0,0,0,.6);
    padding: 5rem 10rem;
}


.card-list .card-item .card-link {
    user-select: none;
    width: 400px;
    display: block;
    background-color: black;
    border-color: white;
    border-style: solid;
    border-width: 6px;
    padding: 20px;
    text-decoration: none;
    transition: 0.2s ease;
}

.card-wrapper {
    max-width: 1100px;
    margin: 0 60px 35px;
    overflow: hidden;
}

.card-list .card-item .card-link:hover {
    border-color: yellow;
}

.card-item .card-list {
    list-style: none;
}

.card-list .card-link .card-image {
    width: 100%; 
    aspect-ratio: 16 / 9;
    object-fit: cover;
}

.card-list .card-link .badge {
    color: white;
    padding: 8px 16px;
    font-size: 0.95rem;
    font-weight: 500;
    margin: 16px 0 18px;
    background: black;
    width: fit-content;
    border-color: white;
    border-style: solid;
    border-width: 3px;
}

.card-list .card-link .card-title {
    font-size: 1.19rem;
    color: white;
    font-weight: 500;
}

.card-wrapper .swiper-pagination-bullet {
    height: 13px;
    width: 13px;
    background: white;
}

.card-wrapper .swiper-slide-button {
    color: white;
}
